@use '../styles' as s;

.form_field_message_wrapper {
  @include s.flex-center;
  color: #fff;
  font-size: 0.85rem;
  border-radius: 4px;
  padding: 0.35rem 0.5rem;
  background: var(--rc-wiz-primary);
  @include s.transition(opacity 0.2s ease-in, visibility 0.2s ease-in);
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid var(--rc-wiz-primary);
    position: absolute;
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &.hide {
    visibility: hidden;
    opacity: 0;
  }

  &:not(.RTL)::after {
    left: -6px;
  }

  &.RTL {
    margin-right: 2rem;

    &::after {
      right: -6px;
      transform: rotate(180deg);
    }

    .icon {
      margin-left: 0.2rem;
    }
  }

  &:not(.RTL) {
    margin-left: 2rem;

    .icon {
      margin-right: 0.2rem;
    }
  }

  .icon {
    @include s.icon-base(1rem);
  }

  .message {
    display: block;
  }
}