@use "sass:color";
@use '../styles' as s;

.form_field {
  @include s.flex-column(flex-start);
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
  background: var(--rc-wiz-formFieldBackground);
  border-radius: 4px;
  width: calc(100% - 3rem);
  position: relative;
  border: 1px solid transparent;
  @include s.transition(border 0.2s ease-in, box-shadow 0.2s ease-in);

  input:not([type="radio"], [type="checkbox"]),
  textarea {
    border-radius: 4px;
    border: none;
    background: var(--rc-wiz-inputBackground);
    height: 28px;
    min-width: 300px;
    font-size: 1rem;
    color: var(--rc-wiz-inputTextColor);

    &:focus {
      outline: 2px solid var(--rc-wiz-primary);
    }
  }

  &.is_valid.highlight:not(.no_border) {
    border: 1px solid var(--rc-wiz-success);
  }

  &.is_not_valid.highlight:not(.no_border) {
    border: 1px solid var(--rc-wiz-fail);
  }

  &:not(.is_valid):not(.is_not_valid),
  &.is_not_valid.no_border {
    border: 1px solid var(--rc-wiz-formFieldBorder);
  }

  &.RTL {
    direction: rtl;
    text-align: right;
  }
}

.input_wrapper {
  @include s.flex-start;
  flex-wrap: wrap;
}

.form_field_label {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  color: var(--rc-wiz-textColor);
}

.status {
  @include s.flex-center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  @include s.transition(background 0.25s ease-in, color 0.25s ease-in, fill 0.25s ease-in);

  &.success {
    @include s.status-indicator(var(--rc-wiz-success));
  }

  &.fail {
    @include s.status-indicator(var(--rc-wiz-fail));

    svg {
      fill: #fff;
    }
  }

  &.warning {
    @include s.status-indicator(var(--rc-wiz-warning));

    svg {
      fill: #fff;
    }
  }

  &.RTL {
    right: auto;
    left: 1rem;
  }

  &:not(.RTL) {
    right: 1rem;
    left: auto;
  }

  svg {
    width: 70%;
    height: 70%;
  }
}

.asterisk {
  @include s.icon-base(0.7rem);
  @include s.margin-side(0.5rem);

  svg {
    fill: var(--rc-wiz-fail);
  }
}

.collection_wrapper {
  @include s.flex-start;

  input {
    margin-right: 0.5rem;
  }

  label {
    @include s.flex-center;
    color: var(--rc-wiz-textColor);
    padding: 0.5rem;
  }
}
