@use '../styles' as s;

.wizard_footer {
  @include s.flex-end;
  border-top: 1px solid #e8e8e8;
  padding-top: 1rem;
  
  @include s.rtl-support;
}

.button_controls {
  @include s.flex-center;

  &.RTL {
    margin-right: auto;
    direction: rtl;
  }

  &:not(.RTL) {
    margin-left: auto;
  }
}

.message {
  display: block;
  color: var(--rc-wiz-textColor);
}

.button {
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: normal;
  background: var(--rc-wiz-primary);
  color: #fff;
  padding: 0.25rem;
  cursor: pointer;
  min-width: 70px;
  min-height: 35px;
  display: grid;
  justify-items: center;
  align-items: center;

  &.back {
    grid-template-columns: 30% 70%;
  }

  &:not(.back) {
    grid-template-columns: 70% 30%;
  }

  &:not(:last-child) {
    &.RTL {
      margin-left: 0.5rem;
    }
    
    &:not(.RTL) {
      margin-right: 0.5rem;
    }
  }

  &.disabled {
    background: #b5b5b5;
    color: #fff;
    cursor: not-allowed;
    pointer-events: none;
  }
  
  @include s.rtl-support;
}

.RTL {
  .btn_icon {
    transform: rotate(180deg);
  }
}

.btn_icon {
  @include s.icon-base(1rem);
}
