@use './styles' as s;

$padding: 1.5rem;
$wrapper-width: calc(100% - $padding);

.wrapper {
  @include s.flex(column, flex-start, center);
  width: 100%;
  background: var(--rc-wiz-background);
  padding: $padding;
  border-radius: 4px;
  box-shadow: 1px 1px 10px 2px #dcdcdc;
}

%common-wrapper {
  width: $wrapper-width;
  margin: 0.5rem 0;
}

.header_wrapper {
  @extend %common-wrapper;
}

.body_wrapper {
  @extend %common-wrapper;
  position: relative;
  z-index: 1;
  overflow: hidden;
  max-height: 2400px;
}

.pages_wrapper {
  @include s.flex(row, flex-start, flex-start);
  position: absolute;
  z-index: 0;
  transition: transform 0.3s ease-in-out;
}

.footer_wrapper {
  @extend %common-wrapper;
}
