@use './styles' as s;

.wizard_finish {
  @include s.flex-center;
}

.message {
  @include s.flex-center;
  font-size: 1.5rem;
  color: var(--rc-wiz-textColor);
  margin-left: 0.5rem;
}

.icon {
  @include s.icon-base(2rem);
  color: var(--rc-wiz-textColor);

  svg {
    fill: var(--rc-wiz-primary);
  }
}
