.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tabs {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.tab {
  border-radius: 50%;
  background: #f8f8f8;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  background: #fff;
  box-shadow: inset 0 0 14px 2px rgba(0, 0, 0, 0.1),
    0 0 2px 1px rgba(0, 0, 0, 0.2);
  transition: background 0.1s ease-in, color 0.1s ease-in;

  &:not(:first-child) {
    margin: 0 4rem;
  }

  &:first-child {
    margin-right: 4rem;
  }

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.75;
  }

  &.selected:not(.fail),
  &.success {
    background: var(--rc-wiz-primary);
    color: #fff;
  }

  &.selected {
    outline-width: 2px;
    outline-offset: 3px;
  }

  &.selected::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 50%;
    transition: opacity 0.1s ease-in;
    z-index: 1;
  }

  &.selected.fail:before {
    border: 2px solid var(--rc-wiz-fail);
    box-shadow: 0 0 4px 1px rgba(var(--rc-wiz-fail), 0.5);
  }

  &.selected:not(.fail):before {
    box-shadow: 0 0 4px 1px rgba(var(--rc-wiz-primary), 0.5);
    border: 2px solid var(--rc-wiz-primary);
  }

  &:not(:last-child)::after {
    content: "";
    display: block;
    width: 8rem;
    height: 3px;
    position: absolute;
    left: 1.5rem;
    z-index: 0;
  }

  &:not(:last-child).highlight::after {
    background: var(--rc-wiz-primary);
  }

  &:not(:last-child):not(.highlight)::after {
    background: #ccc;
  }
}

.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.25rem;
  width: 1.25rem;
  z-index: 1;

  &.fail {
    color: var(--rc-wiz-fail);
  }

  svg {
    width: 80%;
    height: 80%;
  }
}
